In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("~/Documents/pandas_timeseries.csv")

In [3]:
df.head()

         Ts  Value
0  01/01/90    990
1  02/01/90   1000
2  03/01/90    999
3  04/01/90    998
4  05/01/90    800

In [7]:
df['Ts'] = pd.to_datetime(df['Ts'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 2 columns):
Ts       730 non-null datetime64[ns]
Value    730 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 11.5 KB

In [25]:
Q_lookup = {1:'Q1',2:'Q2',3:'Q3',4:'Q4'}
M_lookup = {1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'}
df['year'] = df['Ts'].dt.year
df['month'] = df['Ts'].dt.month.apply(lambda x:M_lookup[x])
df['quarter'] = df['Ts'].dt.quarter.apply(lambda x:Q_lookup[x])
df['qy'] = df['quarter'].map(str)+"-"+df['year'].map(str)

In [26]:
df.head()

          Ts  Value  year month quarter       qy
0 1990-01-01    990  1990   Jan      Q1  Q1-1990
1 1990-02-01   1000  1990   Feb      Q1  Q1-1990
2 1990-03-01    999  1990   Mar      Q1  Q1-1990
3 1990-04-01    998  1990   Apr      Q2  Q2-1990
4 1990-05-01    800  1990   May      Q2  Q2-1990

In [31]:
quarter_count= df['qy'].unique()
print(quarter_count,len(quarter_count))

['Q1-1990' 'Q2-1990' 'Q3-1990' 'Q4-1990' 'Q1-1991' 'Q2-1991' 'Q3-1991'
 'Q4-1991'] 8

In [27]:
df_group = df.groupby('qy')

In [32]:
for i in range(len(quarter_count)):
    a = df_group.get_group(quarter_count[i])
    print(a)
    #call the CP function!

            Ts  Value  year month quarter       qy
0   1990-01-01    990  1990   Jan      Q1  Q1-1990
1   1990-02-01   1000  1990   Feb      Q1  Q1-1990
2   1990-03-01    999  1990   Mar      Q1  Q1-1990
12  1990-01-13    999  1990   Jan      Q1  Q1-1990
13  1990-01-14    998  1990   Jan      Q1  Q1-1990
14  1990-01-15    600  1990   Jan      Q1  Q1-1990
15  1990-01-16    900  1990   Jan      Q1  Q1-1990
16  1990-01-17    999  1990   Jan      Q1  Q1-1990
17  1990-01-18    998  1990   Jan      Q1  Q1-1990
18  1990-01-19    800  1990   Jan      Q1  Q1-1990
19  1990-01-20    768  1990   Jan      Q1  Q1-1990
20  1990-01-21    655  1990   Jan      Q1  Q1-1990
21  1990-01-22    990  1990   Jan      Q1  Q1-1990
22  1990-01-23   1000  1990   Jan      Q1  Q1-1990
23  1990-01-24    888  1990   Jan      Q1  Q1-1990
24  1990-01-25    909  1990   Jan      Q1  Q1-1990
25  1990-01-26    977  1990   Jan      Q1  Q1-1990
26  1990-01-27    988  1990   Jan      Q1  Q1-1990
27  1990-01-28    768  1990   Jan      Q1  Q1-1990
28  1990-01-29    655  1990   Jan      Q1  Q1-1990
29  1990-01-30    990  1990   Jan      Q1  Q1-1990
30  1990-01-31   1000  1990   Jan      Q1  Q1-1990
31  1990-01-02    888  1990   Jan      Q1  Q1-1990
32  1990-02-02    909  1990   Feb      Q1  Q1-1990
33  1990-03-02    977  1990   Mar      Q1  Q1-1990
43  1990-02-13   1000  1990   Feb      Q1  Q1-1990
44  1990-02-14    909  1990   Feb      Q1  Q1-1990
45  1990-02-15    977  1990   Feb      Q1  Q1-1990
46  1990-02-16    988  1990   Feb      Q1  Q1-1990
47  1990-02-17    768  1990   Feb      Q1  Q1-1990
..         ...    ...   ...   ...     ...      ...
87  1990-03-29    978  1990   Mar      Q1  Q1-1990
88  1990-03-30    989  1990   Mar      Q1  Q1-1990
89  1990-03-31    769  1990   Mar      Q1  Q1-1990
90  1990-01-04    656  1990   Jan      Q1  Q1-1990
91  1990-02-04    991  1990   Feb      Q1  Q1-1990
92  1990-03-04   1001  1990   Mar      Q1  Q1-1990
120 1990-01-05   1002  1990   Jan      Q1  Q1-1990
121 1990-02-05    890  1990   Feb      Q1  Q1-1990
122 1990-03-05    911  1990   Mar      Q1  Q1-1990
151 1990-01-06    901  1990   Jan      Q1  Q1-1990
152 1990-02-06   1000  1990   Feb      Q1  Q1-1990
153 1990-03-06    999  1990   Mar      Q1  Q1-1990
181 1990-01-07    978  1990   Jan      Q1  Q1-1990
182 1990-02-07    989  1990   Feb      Q1  Q1-1990
183 1990-03-07    769  1990   Mar      Q1  Q1-1990
212 1990-01-08    770  1990   Jan      Q1  Q1-1990
213 1990-02-08    657  1990   Feb      Q1  Q1-1990
214 1990-03-08    992  1990   Mar      Q1  Q1-1990
243 1990-01-09    891  1990   Jan      Q1  Q1-1990
244 1990-02-09    663  1990   Feb      Q1  Q1-1990
245 1990-03-09    780  1990   Mar      Q1  Q1-1990
273 1990-01-10   1002  1990   Jan      Q1  Q1-1990
274 1990-02-10   1001  1990   Feb      Q1  Q1-1990
275 1990-03-10   1000  1990   Mar      Q1  Q1-1990
304 1990-01-11    911  1990   Jan      Q1  Q1-1990
305 1990-02-11    979  1990   Feb      Q1  Q1-1990
306 1990-03-11    990  1990   Mar      Q1  Q1-1990
334 1990-01-12   1001  1990   Jan      Q1  Q1-1990
335 1990-02-12    603  1990   Feb      Q1  Q1-1990
336 1990-03-12    903  1990   Mar      Q1  Q1-1990

[90 rows x 6 columns]
            Ts  Value  year month quarter       qy
3   1990-04-01    998  1990   Apr      Q2  Q2-1990
4   1990-05-01    800  1990   May      Q2  Q2-1990
5   1990-06-01    768  1990   Jun      Q2  Q2-1990
34  1990-04-02    988  1990   Apr      Q2  Q2-1990
35  1990-05-02   1000  1990   May      Q2  Q2-1990
36  1990-06-02    888  1990   Jun      Q2  Q2-1990
62  1990-04-03    999  1990   Apr      Q2  Q2-1990
63  1990-05-03    601  1990   May      Q2  Q2-1990
64  1990-06-03    901  1990   Jun      Q2  Q2-1990
93  1990-04-04    910  1990   Apr      Q2  Q2-1990
94  1990-05-04    978  1990   May      Q2  Q2-1990
95  1990-06-04    989  1990   Jun      Q2  Q2-1990
102 1990-04-13    802  1990   Apr      Q2  Q2-1990
103 1990-04-14    770  1990   Apr      Q2  Q2-1990
104 1990-04-15    657  1990   Apr      Q2  Q2-1990
105 1990-04-16    992  1990   Apr      Q2  Q2-1990
106 1990-04-17   1002  1990   Apr      Q2  Q2-1990
107 1990-04-18    890  1990   Apr      Q2  Q2-1990
108 1990-04-19    662  1990   Apr      Q2  Q2-1990
109 1990-04-20    779  1990   Apr      Q2  Q2-1990
110 1990-04-21   1001  1990   Apr      Q2  Q2-1990
111 1990-04-22   1000  1990   Apr      Q2  Q2-1990
112 1990-04-23    602  1990   Apr      Q2  Q2-1990
113 1990-04-24    902  1990   Apr      Q2  Q2-1990
114 1990-04-25   1001  1990   Apr      Q2  Q2-1990
115 1990-04-26   1000  1990   Apr      Q2  Q2-1990
116 1990-04-27    802  1990   Apr      Q2  Q2-1990
117 1990-04-28    770  1990   Apr      Q2  Q2-1990
118 1990-04-29    657  1990   Apr      Q2  Q2-1990
119 1990-04-30    992  1990   Apr      Q2  Q2-1990
..         ...    ...   ...   ...     ...      ...
169 1990-06-19    978  1990   Jun      Q2  Q2-1990
170 1990-06-20    989  1990   Jun      Q2  Q2-1990
171 1990-06-21   1001  1990   Jun      Q2  Q2-1990
172 1990-06-22    889  1990   Jun      Q2  Q2-1990
173 1990-06-23    910  1990   Jun      Q2  Q2-1990
174 1990-06-24    978  1990   Jun      Q2  Q2-1990
175 1990-06-25    989  1990   Jun      Q2  Q2-1990
176 1990-06-26    769  1990   Jun      Q2  Q2-1990
177 1990-06-27    656  1990   Jun      Q2  Q2-1990
178 1990-06-28    991  1990   Jun      Q2  Q2-1990
179 1990-06-29   1001  1990   Jun      Q2  Q2-1990
180 1990-06-30    910  1990   Jun      Q2  Q2-1990
184 1990-04-07    656  1990   Apr      Q2  Q2-1990
185 1990-05-07    992  1990   May      Q2  Q2-1990
186 1990-06-07   1002  1990   Jun      Q2  Q2-1990
215 1990-04-08   1002  1990   Apr      Q2  Q2-1990
216 1990-05-08    890  1990   May      Q2  Q2-1990
217 1990-06-08    911  1990   Jun      Q2  Q2-1990
246 1990-04-09   1002  1990   Apr      Q2  Q2-1990
247 1990-05-09   1001  1990   May      Q2  Q2-1990
248 1990-06-09    603  1990   Jun      Q2  Q2-1990
276 1990-04-10    802  1990   Apr      Q2  Q2-1990
277 1990-05-10    770  1990   May      Q2  Q2-1990
278 1990-06-10    657  1990   Jun      Q2  Q2-1990
307 1990-04-11   1002  1990   Apr      Q2  Q2-1990
308 1990-05-11    890  1990   May      Q2  Q2-1990
309 1990-06-11    911  1990   Jun      Q2  Q2-1990
337 1990-04-12   1002  1990   Apr      Q2  Q2-1990
338 1990-05-12   1001  1990   May      Q2  Q2-1990
339 1990-06-12    803  1990   Jun      Q2  Q2-1990

[91 rows x 6 columns]
            Ts  Value  year month quarter       qy
6   1990-07-01    655  1990   Jul      Q3  Q3-1990
7   1990-08-01    990  1990   Aug      Q3  Q3-1990
8   1990-09-01   1000  1990   Sep      Q3  Q3-1990
37  1990-07-02    909  1990   Jul      Q3  Q3-1990
38  1990-08-02    977  1990   Aug      Q3  Q3-1990
39  1990-09-02    988  1990   Sep      Q3  Q3-1990
65  1990-07-03   1000  1990   Jul      Q3  Q3-1990
66  1990-08-03    999  1990   Aug      Q3  Q3-1990
67  1990-09-03    801  1990   Sep      Q3  Q3-1990
96  1990-07-04    769  1990   Jul      Q3  Q3-1990
97  1990-08-04    656  1990   Aug      Q3  Q3-1990
98  1990-09-04    992  1990   Sep      Q3  Q3-1990
126 1990-07-05    657  1990   Jul      Q3  Q3-1990
127 1990-08-05    992  1990   Aug      Q3  Q3-1990
128 1990-09-05   1002  1990   Sep      Q3  Q3-1990
157 1990-07-06    991  1990   Jul      Q3  Q3-1990
158 1990-08-06   1001  1990   Aug      Q3  Q3-1990
159 1990-09-06    889  1990   Sep      Q3  Q3-1990
187 1990-07-07   1001  1990   Jul      Q3  Q3-1990
188 1990-08-07   1000  1990   Aug      Q3  Q3-1990
189 1990-09-07    802  1990   Sep      Q3  Q3-1990
193 1990-07-13   1002  1990   Jul      Q3  Q3-1990
194 1990-07-14    890  1990   Jul      Q3  Q3-1990
195 1990-07-15    662  1990   Jul      Q3  Q3-1990
196 1990-07-16    779  1990   Jul      Q3  Q3-1990
197 1990-07-17   1001  1990   Jul      Q3  Q3-1990
198 1990-07-18   1000  1990   Jul      Q3  Q3-1990
199 1990-07-19    602  1990   Jul      Q3  Q3-1990
200 1990-07-20    902  1990   Jul      Q3  Q3-1990
201 1990-07-21   1001  1990   Jul      Q3  Q3-1990
..         ...    ...   ...   ...     ...      ...
249 1990-07-09    903  1990   Jul      Q3  Q3-1990
250 1990-08-09   1002  1990   Aug      Q3  Q3-1990
251 1990-09-09   1001  1990   Sep      Q3  Q3-1990
255 1990-09-13    993  1990   Sep      Q3  Q3-1990
256 1990-09-14   1003  1990   Sep      Q3  Q3-1990
257 1990-09-15    891  1990   Sep      Q3  Q3-1990
258 1990-09-16    912  1990   Sep      Q3  Q3-1990
259 1990-09-17    980  1990   Sep      Q3  Q3-1990
260 1990-09-18    991  1990   Sep      Q3  Q3-1990
261 1990-09-19    771  1990   Sep      Q3  Q3-1990
262 1990-09-20    658  1990   Sep      Q3  Q3-1990
263 1990-09-21    993  1990   Sep      Q3  Q3-1990
264 1990-09-22   1003  1990   Sep      Q3  Q3-1990
265 1990-09-23    891  1990   Sep      Q3  Q3-1990
266 1990-09-24    912  1990   Sep      Q3  Q3-1990
267 1990-09-25    980  1990   Sep      Q3  Q3-1990
268 1990-09-26    991  1990   Sep      Q3  Q3-1990
269 1990-09-27   1003  1990   Sep      Q3  Q3-1990
270 1990-09-28    891  1990   Sep      Q3  Q3-1990
271 1990-09-29    912  1990   Sep      Q3  Q3-1990
272 1990-09-30    992  1990   Sep      Q3  Q3-1990
279 1990-07-10    992  1990   Jul      Q3  Q3-1990
280 1990-08-10   1002  1990   Aug      Q3  Q3-1990
281 1990-09-10    890  1990   Sep      Q3  Q3-1990
310 1990-07-11    979  1990   Jul      Q3  Q3-1990
311 1990-08-11    990  1990   Aug      Q3  Q3-1990
312 1990-09-11    770  1990   Sep      Q3  Q3-1990
340 1990-07-12    771  1990   Jul      Q3  Q3-1990
341 1990-08-12    658  1990   Aug      Q3  Q3-1990
342 1990-09-12    993  1990   Sep      Q3  Q3-1990

[92 rows x 6 columns]
            Ts  Value  year month quarter       qy
9   1990-10-01    888  1990   Oct      Q4  Q4-1990
10  1990-11-01    660  1990   Nov      Q4  Q4-1990
11  1990-12-01    777  1990   Dec      Q4  Q4-1990
40  1990-10-02    768  1990   Oct      Q4  Q4-1990
41  1990-11-02    655  1990   Nov      Q4  Q4-1990
42  1990-12-02    990  1990   Dec      Q4  Q4-1990
68  1990-10-03    769  1990   Oct      Q4  Q4-1990
69  1990-11-03    656  1990   Nov      Q4  Q4-1990
70  1990-12-03    991  1990   Dec      Q4  Q4-1990
99  1990-10-04   1002  1990   Oct      Q4  Q4-1990
100 1990-11-04   1001  1990   Nov      Q4  Q4-1990
101 1990-12-04   1000  1990   Dec      Q4  Q4-1990
129 1990-10-05    890  1990   Oct      Q4  Q4-1990
130 1990-11-05    911  1990   Nov      Q4  Q4-1990
131 1990-12-05    979  1990   Dec      Q4  Q4-1990
160 1990-10-06    910  1990   Oct      Q4  Q4-1990
161 1990-11-06    978  1990   Nov      Q4  Q4-1990
162 1990-12-06    989  1990   Dec      Q4  Q4-1990
190 1990-10-07    770  1990   Oct      Q4  Q4-1990
191 1990-11-07    657  1990   Nov      Q4  Q4-1990
192 1990-12-07    992  1990   Dec      Q4  Q4-1990
221 1990-10-08    890  1990   Oct      Q4  Q4-1990
222 1990-11-08    911  1990   Nov      Q4  Q4-1990
223 1990-12-08    979  1990   Dec      Q4  Q4-1990
252 1990-10-09    803  1990   Oct      Q4  Q4-1990
253 1990-11-09    771  1990   Nov      Q4  Q4-1990
254 1990-12-09    658  1990   Dec      Q4  Q4-1990
282 1990-10-10    662  1990   Oct      Q4  Q4-1990
283 1990-11-10    779  1990   Nov      Q4  Q4-1990
284 1990-12-10   1001  1990   Dec      Q4  Q4-1990
..         ...    ...   ...   ...     ...      ...
326 1990-11-23    771  1990   Nov      Q4  Q4-1990
327 1990-11-24    658  1990   Nov      Q4  Q4-1990
328 1990-11-25    993  1990   Nov      Q4  Q4-1990
329 1990-11-26   1003  1990   Nov      Q4  Q4-1990
330 1990-11-27    891  1990   Nov      Q4  Q4-1990
331 1990-11-28    663  1990   Nov      Q4  Q4-1990
332 1990-11-29    780  1990   Nov      Q4  Q4-1990
333 1990-11-30   1002  1990   Nov      Q4  Q4-1990
343 1990-10-12   1003  1990   Oct      Q4  Q4-1990
344 1990-11-12    891  1990   Nov      Q4  Q4-1990
345 1990-12-12    912  1990   Dec      Q4  Q4-1990
346 1990-12-13    980  1990   Dec      Q4  Q4-1990
347 1990-12-14    991  1990   Dec      Q4  Q4-1990
348 1990-12-15    771  1990   Dec      Q4  Q4-1990
349 1990-12-16    658  1990   Dec      Q4  Q4-1990
350 1990-12-17    993  1990   Dec      Q4  Q4-1990
351 1990-12-18   1003  1990   Dec      Q4  Q4-1990
352 1990-12-19    891  1990   Dec      Q4  Q4-1990
353 1990-12-20    912  1990   Dec      Q4  Q4-1990
354 1990-12-21    980  1990   Dec      Q4  Q4-1990
355 1990-12-22    991  1990   Dec      Q4  Q4-1990
356 1990-12-23   1003  1990   Dec      Q4  Q4-1990
357 1990-12-24    891  1990   Dec      Q4  Q4-1990
358 1990-12-25    912  1990   Dec      Q4  Q4-1990
359 1990-12-26    980  1990   Dec      Q4  Q4-1990
360 1990-12-27    991  1990   Dec      Q4  Q4-1990
361 1990-12-28    771  1990   Dec      Q4  Q4-1990
362 1990-12-29    658  1990   Dec      Q4  Q4-1990
363 1990-12-30    993  1990   Dec      Q4  Q4-1990
364 1990-12-31   1003  1990   Dec      Q4  Q4-1990

[92 rows x 6 columns]
            Ts  Value  year month quarter       qy
365 1991-01-01    770  1991   Jan      Q1  Q1-1991
366 1991-02-01    657  1991   Feb      Q1  Q1-1991
367 1991-03-01    993  1991   Mar      Q1  Q1-1991
377 1991-01-13    663  1991   Jan      Q1  Q1-1991
378 1991-01-14    780  1991   Jan      Q1  Q1-1991
379 1991-01-15   1002  1991   Jan      Q1  Q1-1991
380 1991-01-16    892  1991   Jan      Q1  Q1-1991
381 1991-01-17    913  1991   Jan      Q1  Q1-1991
382 1991-01-18    981  1991   Jan      Q1  Q1-1991
383 1991-01-19    992  1991   Jan      Q1  Q1-1991
384 1991-01-20   1004  1991   Jan      Q1  Q1-1991
385 1991-01-21    892  1991   Jan      Q1  Q1-1991
386 1991-01-22    913  1991   Jan      Q1  Q1-1991
387 1991-01-23    981  1991   Jan      Q1  Q1-1991
388 1991-01-24    992  1991   Jan      Q1  Q1-1991
389 1991-01-25    772  1991   Jan      Q1  Q1-1991
390 1991-01-26    659  1991   Jan      Q1  Q1-1991
391 1991-01-27    994  1991   Jan      Q1  Q1-1991
392 1991-01-28   1004  1991   Jan      Q1  Q1-1991
393 1991-01-29    771  1991   Jan      Q1  Q1-1991
394 1991-01-30    658  1991   Jan      Q1  Q1-1991
395 1991-01-31    994  1991   Jan      Q1  Q1-1991
396 1991-01-02   1004  1991   Jan      Q1  Q1-1991
397 1991-02-02   1003  1991   Feb      Q1  Q1-1991
398 1991-03-02   1002  1991   Mar      Q1  Q1-1991
408 1991-02-13    893  1991   Feb      Q1  Q1-1991
409 1991-02-14    914  1991   Feb      Q1  Q1-1991
410 1991-02-15    982  1991   Feb      Q1  Q1-1991
411 1991-02-16   1002  1991   Feb      Q1  Q1-1991
412 1991-02-17    804  1991   Feb      Q1  Q1-1991
..         ...    ...   ...   ...     ...      ...
452 1991-03-29   1003  1991   Mar      Q1  Q1-1991
453 1991-03-30    805  1991   Mar      Q1  Q1-1991
454 1991-03-31    773  1991   Mar      Q1  Q1-1991
455 1991-01-04    660  1991   Jan      Q1  Q1-1991
456 1991-02-04    995  1991   Feb      Q1  Q1-1991
457 1991-03-04   1005  1991   Mar      Q1  Q1-1991
485 1991-01-05    894  1991   Jan      Q1  Q1-1991
486 1991-02-05    666  1991   Feb      Q1  Q1-1991
487 1991-03-05    783  1991   Mar      Q1  Q1-1991
516 1991-01-06   1004  1991   Jan      Q1  Q1-1991
517 1991-02-06    806  1991   Feb      Q1  Q1-1991
518 1991-03-06    774  1991   Mar      Q1  Q1-1991
546 1991-01-07    662  1991   Jan      Q1  Q1-1991
547 1991-02-07    997  1991   Feb      Q1  Q1-1991
548 1991-03-07   1007  1991   Mar      Q1  Q1-1991
577 1991-01-08    668  1991   Jan      Q1  Q1-1991
578 1991-02-08    995  1991   Feb      Q1  Q1-1991
579 1991-03-08   1007  1991   Mar      Q1  Q1-1991
608 1991-01-09    775  1991   Jan      Q1  Q1-1991
609 1991-02-09    662  1991   Feb      Q1  Q1-1991
610 1991-03-09    997  1991   Mar      Q1  Q1-1991
638 1991-01-10   1008  1991   Jan      Q1  Q1-1991
639 1991-02-10    896  1991   Feb      Q1  Q1-1991
640 1991-03-10    668  1991   Mar      Q1  Q1-1991
669 1991-01-11   1007  1991   Jan      Q1  Q1-1991
670 1991-02-11   1006  1991   Feb      Q1  Q1-1991
671 1991-03-11    808  1991   Mar      Q1  Q1-1991
699 1991-01-12    777  1991   Jan      Q1  Q1-1991
700 1991-02-12    664  1991   Feb      Q1  Q1-1991
701 1991-03-12    999  1991   Mar      Q1  Q1-1991

[90 rows x 6 columns]
            Ts  Value  year month quarter       qy
368 1991-04-01   1003  1991   Apr      Q2  Q2-1991
369 1991-05-01   1002  1991   May      Q2  Q2-1991
370 1991-06-01   1001  1991   Jun      Q2  Q2-1991
399 1991-04-02    804  1991   Apr      Q2  Q2-1991
400 1991-05-02    772  1991   May      Q2  Q2-1991
401 1991-06-02    659  1991   Jun      Q2  Q2-1991
427 1991-04-03    914  1991   Apr      Q2  Q2-1991
428 1991-05-03    982  1991   May      Q2  Q2-1991
429 1991-06-03    993  1991   Jun      Q2  Q2-1991
458 1991-04-04    893  1991   Apr      Q2  Q2-1991
459 1991-05-04    665  1991   May      Q2  Q2-1991
460 1991-06-04    782  1991   Jun      Q2  Q2-1991
467 1991-04-13    894  1991   Apr      Q2  Q2-1991
468 1991-04-14    774  1991   Apr      Q2  Q2-1991
469 1991-04-15    661  1991   Apr      Q2  Q2-1991
470 1991-04-16    996  1991   Apr      Q2  Q2-1991
471 1991-04-17   1006  1991   Apr      Q2  Q2-1991
472 1991-04-18    894  1991   Apr      Q2  Q2-1991
473 1991-04-19    666  1991   Apr      Q2  Q2-1991
474 1991-04-20    783  1991   Apr      Q2  Q2-1991
475 1991-04-21   1005  1991   Apr      Q2  Q2-1991
476 1991-04-22    895  1991   Apr      Q2  Q2-1991
477 1991-04-23    916  1991   Apr      Q2  Q2-1991
478 1991-04-24    984  1991   Apr      Q2  Q2-1991
479 1991-04-25   1004  1991   Apr      Q2  Q2-1991
480 1991-04-26    806  1991   Apr      Q2  Q2-1991
481 1991-04-27    774  1991   Apr      Q2  Q2-1991
482 1991-04-28    661  1991   Apr      Q2  Q2-1991
483 1991-04-29    996  1991   Apr      Q2  Q2-1991
484 1991-04-30   1006  1991   Apr      Q2  Q2-1991
..         ...    ...   ...   ...     ...      ...
534 1991-06-19   1006  1991   Jun      Q2  Q2-1991
535 1991-06-20    894  1991   Jun      Q2  Q2-1991
536 1991-06-21    666  1991   Jun      Q2  Q2-1991
537 1991-06-22    783  1991   Jun      Q2  Q2-1991
538 1991-06-23   1005  1991   Jun      Q2  Q2-1991
539 1991-06-24    895  1991   Jun      Q2  Q2-1991
540 1991-06-25    916  1991   Jun      Q2  Q2-1991
541 1991-06-26    984  1991   Jun      Q2  Q2-1991
542 1991-06-27    995  1991   Jun      Q2  Q2-1991
543 1991-06-28   1007  1991   Jun      Q2  Q2-1991
544 1991-06-29    895  1991   Jun      Q2  Q2-1991
545 1991-06-30    775  1991   Jun      Q2  Q2-1991
549 1991-04-07    895  1991   Apr      Q2  Q2-1991
550 1991-05-07    667  1991   May      Q2  Q2-1991
551 1991-06-07    784  1991   Jun      Q2  Q2-1991
580 1991-04-08    895  1991   Apr      Q2  Q2-1991
581 1991-05-08    916  1991   May      Q2  Q2-1991
582 1991-06-08    984  1991   Jun      Q2  Q2-1991
611 1991-04-09   1007  1991   Apr      Q2  Q2-1991
612 1991-05-09    895  1991   May      Q2  Q2-1991
613 1991-06-09    667  1991   Jun      Q2  Q2-1991
641 1991-04-10    785  1991   Apr      Q2  Q2-1991
642 1991-05-10   1007  1991   May      Q2  Q2-1991
643 1991-06-10    897  1991   Jun      Q2  Q2-1991
672 1991-04-11    776  1991   Apr      Q2  Q2-1991
673 1991-05-11    663  1991   May      Q2  Q2-1991
674 1991-06-11    998  1991   Jun      Q2  Q2-1991
702 1991-04-12   1009  1991   Apr      Q2  Q2-1991
703 1991-05-12    897  1991   May      Q2  Q2-1991
704 1991-06-12    669  1991   Jun      Q2  Q2-1991

[91 rows x 6 columns]
            Ts  Value  year month quarter       qy
371 1991-07-01    803  1991   Jul      Q3  Q3-1991
372 1991-08-01    771  1991   Aug      Q3  Q3-1991
373 1991-09-01    658  1991   Sep      Q3  Q3-1991
402 1991-07-02    994  1991   Jul      Q3  Q3-1991
403 1991-08-02   1004  1991   Aug      Q3  Q3-1991
404 1991-09-02    892  1991   Sep      Q3  Q3-1991
430 1991-07-03    773  1991   Jul      Q3  Q3-1991
431 1991-08-03    660  1991   Aug      Q3  Q3-1991
432 1991-09-03    995  1991   Sep      Q3  Q3-1991
461 1991-07-04   1004  1991   Jul      Q3  Q3-1991
462 1991-08-04    894  1991   Aug      Q3  Q3-1991
463 1991-09-04    915  1991   Sep      Q3  Q3-1991
491 1991-07-05    984  1991   Jul      Q3  Q3-1991
492 1991-08-05    995  1991   Aug      Q3  Q3-1991
493 1991-09-05   1007  1991   Sep      Q3  Q3-1991
522 1991-07-06    894  1991   Jul      Q3  Q3-1991